body{
    background-color: #f8f9fa!important;
    overflow-x: hidden!important;
}


.modal-dialog {
  margin-top: 100px!important;
  margin-bottom: auto!important;
}



.modal-dialog {
  margin-top: auto!important;
  margin-bottom: auto!important;
  display: flex!important;
  align-items: center!important;
  min-height: 100vh!important;
}

/* index.css or App.css */




.modal {
  z-index: 1050; /* Modal should be above backdrop */
}

/* custom scroll bar css  */


